@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --accent: #3D42D6;
    --base: #2F3B57;
    --secondary: #8991A3;
    --ring: #D3DFFF;
    --active-ring: #E8E9EC;
    --dropdown: #E8E9EC;
    --success: #FC505E;
    --in-progress: #242730;
    --inactive: #DCDBDB;
    --error: #FF2B2B;
    --button: #EDF2FF;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: #494FFF;
}

.link {
    color: black;
}

.link:hover {
    color: var(--accent)
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 82px;
    font-weight: 700;
}

h2 {
    font-size: 56px;
    font-weight: 500;
}

h3 {
    font-size: 42px;
    font-weight: normal;
}

h4 {
    font-size: 34px;
    font-weight: normal;
}

h5 {
    font-size: 26px;
    font-weight: normal;
}

.main-button {
    width: 280px;
    height: 50px;
    border-radius: 5px;
    background: #339FEF;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

.main-button:hover {
    background-image: linear-gradient(90deg, #3D42D6, #32A0EF);
}

.main-button:active {
    background: #3D42D6;
}

.main-button:disabled {
    background: #DCDB;
    color: #8991A3;
}

.paginator-arrow:disabled svg {

    color: var(--inactive);

}